*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Cairo', sans-serif;
}

/*======================
    404 page
=======================*/

.page_404{
    background:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

 .box_img_404 img{
     height: 75vh;
     display: block;
     margin: 0 auto;
 }
			 
.btn{
    color: #fff!important;
    padding: 10px 20px;
    background: #39ac31;
    margin: auto;
    margin-top: 20px;
    display: inline-block;
    border-radius: 5px;
    text-decoration: none;
    border-bottom: 4px solid #2d8627;
}

.contant_box_404{ 
    text-align: center;
    margin-top: -6em;
}

.contant_box_404 h1{
    font-size: 2.5em;
}

.contant_box_404 h2{
    font-size: 1.5em;
}

.contant_box_404 p{
    font-size: 1.2em;
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 768px) {
    
    .page_404{
        height: 70vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .box_img_404 img{
        height: 600px;
        width: 825px;
        display: block;
        margin: 0 auto;
    }

    .contant_box_404{ 
        text-align: center;
        margin-top: -7.5em;
    }
    
    .contant_box_404 h1{
        font-size: 3em;
    }
    
    .contant_box_404 h2{
        font-size: 2.05em;
    }
    
    .contant_box_404 p{
        font-size: 1.5em;
    }

    .btn{
        font-size: 1.5em;
        padding: 5px 15px;
    }
}
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
@media (min-width: 320px) and (max-width: 480px) {

    .page_404{
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .box_img_404 img{
        height: 350px;
        width: 425px;
        display: block;
        margin: 0 auto;
    }

    .contant_box_404{ 
        text-align: center;
        margin-top: -2.5em;
    }
    
    .contant_box_404 h1{
        font-size: 1.5em;
    }
    
    .contant_box_404 h2{
        font-size: 1em;
    }
    
    .contant_box_404 p{
        font-size: 0.8em;
    }

    .btn{
        font-size: 0.8em;
        padding: 5px 15px;
    }
}

/*======================
    page confirmation
=======================*/

.page_confirmation .container{
    background:#fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.container > h1 {
    padding-top: 0.3em;
    font-size: 3em;
}

 .box_img_confirmation img{
     height: 70vh;
     display: block;
     margin: 0 auto;
 }

 .contant_box_confirmation{
     display: flex;
     max-width: 550px;
     color: rgb(41, 41, 41);
     flex-direction: column;
     justify-items: center;
     align-items: center;
    text-align: center;
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 768px) {
    
    .page_confirmation .container{
        background:#fff;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }
    
    .container > h1 {
        padding-top: 1.5em;
        font-size: 3em;
        text-align: center;
        line-height: 1;
    }
    
     .box_img_confirmation img{
         height: 40vh;
         display: block;
         margin: 0 auto;
     }

}
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
@media (min-width: 320px) and (max-width: 480px) {

    .page_confirmation .container{
        background:#fff;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }
    
    .container > h1 {
        padding-top: 0.3em;
        font-size: 3em;
        text-align: center;
        line-height: 1;
    }
    
     .box_img_confirmation img{
         height: 40vh;
         display: block;
         margin: 0 auto;
     }
}

body {
    background: #F0F8EA;
    font-family: 'Quicksand', sans-serif;
  }
  
  .container {
    width: 95%;
    max-width: 1000px;
    margin: 0 auto;
  }
  
  header {
    background: #E54B4B;
    color: #EBEBD3;
    padding: 1em 0;
    position: relative;
  }
  
  header::after {
    content: '';
    clear: both;
    display: block;
  }
  
  .logo {
    float: left;
    font-size: 1rem;
    margin: 0;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  .logo span {
    font-weight: 400;
  }
  
  .site-nav {
    position: absolute;
    top: 100%;
    right: 0%;
    background: #464655;
    clip-path: circle(0px at top right);
    transition: clip-path ease-in-out 700ms;
  /*   display: none; */
  }
  
  .site-nav--open {
    clip-path: circle(250% at top right);
  /*   display: block; */
  }
  
  .site-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .site-nav li {
    border-bottom: 1px solid #575766;
  }
  
  .site-nav li:last-child {
    border-bottom: none;
  }
  
  .site-nav a {
    color: #EBEBD3;
    display: block;
    padding: 2em 4em 2em 1.5em;
    text-transform: uppercase;
    text-decoration: none;
  }
  
  .site-nav a:hover,
  .site-nav a:focus {
    background: #E4B363;
    color: #464655;
  }
  
  .site-nav--icon {
    display: inline-block;
    font-size: 1.5em;
    margin-right: 1em;
    width: 1.1em;
    text-align: right;
    color: rgba(255,255,255,.4);
  }
  
  .menu-toggle {
    padding: 1em;
    position: absolute;
    top: .5em;
    right: .5em;
    cursor: pointer;
  }
  
  .hamburger,
  .hamburger::before,
  .hamburger::after {
    content: '';
    display: block;
    background: #EBEBD3;
    height: 3px;
    width: 1.75em;
    border-radius: 3px;
    transition: all ease-in-out 500ms;
  }
  
  .hamburger::before {
    transform: translateY(-6px);
  }
  
  .hamburger::after {
    transform: translateY(3px);
  }
  
  .open .hamburger {
    transform: rotate(45deg);
  }
  
  .open .hamburger::before {
    opacity: 0;
  }
  
  .open .hamburger::after {
    transform: translateY(-3px) rotate(-90deg);
  }
  
  @media (min-width: 700px) {
    
    .menu-toggle {
      display: none;
    }
    
    .site-nav {
      height: auto;
      position: relative;
      background: transparent;
      float: right;
      clip-path: initial;
    }
    
    .site-nav li {
      display: inline-block;
      border: none;
    }
    
    .site-nav a {
      padding: 0;
      margin-left: 3em;
    }
    
    .site-nav a:hover,
    .site-nav a:focus {
      background: transparent;
    }
    
    .site-nav--icon {
      display: none;
    }
    
  }